body {
    font-family: Verdana, sans-serif;
    background-color:bisque;
    max-width: 700px;
    margin: auto;
}

h1 {
    color:snow;
    background-color:#8697a8;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
}

ul {
    background-color:linen;
    padding: 20px;
    padding-left: 50px;
    border-radius: 25px;
}

ol {
    background-color: linen;
    padding: 20px;
    padding-left: 50px;
    border-radius: 25px;
}

li {
    padding: 10px;
}

li a {
    color:darkslategray;
}

img {
    max-height: 400px;
    display: block;
    margin: auto;
}